{{#partial "styles"}}

    <link rel='stylesheet' href='/target/classes/public/css/squads.css'>

{{/partial}}

{{#partial "content"}}

    <h2>LIST OF SQUADS</h2>

    <div class="row">
        <div class="col-md-6">
            {{#if squads}}

                {{#each squads}}
                    <div class="card mb-3" id="user">
                        <div class="row no-gutters">
                            <div class="col-md-4" id="profile">
                                <img id="squadImage" src="/target/classes/public/images/marvel2.jpg" alt="Squad Image">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{name}}</h5>
                                    <hr>
                                    <ul class="card-text">
                                        <li><span>Cause: </span>{{cause}}</li>
                                        <li><span>Maximum Heroes Allowed: </span>{{maxSize}}</li>
                                        <li><span>Current Heroes: </span>{{id}}</li>
                                    </ul>
                                    <a href="/squads/{{id}}"><button class="btn-info">View Squad Heroes</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                {{/each}}

            {{else}}
                <p id="noSquads">No Squads Available!</p>
            {{/if}}
        </div>

        <div class="col-md-6">
            {{#if squad.heroes}}
                <div class="card  text-dark">

                    <div class="card-body">
                        <h4 class="card-title">{{squad.name}}</h4>
                        <hr>
                        <p>Heroes :</p>

                        {{#each squad.heroes}}

                            <li class="card-text">{{name}}</li><
                            <hr>
                            <p class="card-text">Age : {{age}}</p>
                            <p class="card-text">Special Powers : {{powers}}</p>
                            <p class="card-text">Weakness: {{weakness}}</p>

                        {{/each}}

                    </div>
                </div>
            {{else}}
                <p id="noSquadsHeroes">No squad heroes available</p>
            {{/if}}

        </div>
    </div>

    {{#if squads}}
        <a href="/squads/delete"><button class="btn-info" id="delete">Delete All Squads</button></a>
    {{/if}}

{{/partial}}

{{> layout.hbs}}